on property:sys.testsuite.cadex=0
  write /sys/class/power_supply/battery/battery_charging_enabled "1"
  write /sys/class/power_supply/battery/charging_enabled "1"

on property:sys.testsuite.cadex=1
  write /sys/class/power_supply/battery/battery_charging_enabled "0"
  write /sys/class/power_supply/battery/charging_enabled "0"

on property:sys.testsuite.cadex=2
  write /sys/class/power_supply/battery/battery_charging_enabled "0"
  write /sys/class/power_supply/battery/charging_enabled "1"
